@font-face {
  font-family: "Aleo";
  src: local('Aleo-Regular'),
    url('../fonts/aleo-regular.woff2') format('woff2'),
    url('../fonts/aleo-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aleo";
  src: local('Aleo-Italic'),
    url('../fonts/aleo-italic.woff2') format('woff2'),
    url('../fonts/aleo-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Aleo";
  src: local('Aleo-Bold'),
    url('../fonts/aleo-bold.woff2') format('woff2'),
    url('../fonts/aleo-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aleo";
  src: local('Aleo-Light'),
    url('../fonts/aleo-light.woff2') format('woff2'),
    url('../fonts/aleo-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "WCManoNegraBta";
  src: local('WCManoNegraBta'),
    url('../fonts/wc-mano-negra-bta.woff2') format('woff2'),
    url('../fonts/wc-mano-negra-bta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {  
  min-width: 1123px;
  margin: 0;
  padding: 0; 
  font-family: "Aleo", serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.js .hidden {
  height: 0;
  position: relative;
  z-index: -999;
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}

.subtitle {
  margin: 0;
  margin-bottom: 76px;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #3b3b3b;
  text-transform: uppercase;
}

.subtitle::after {
  content: "";
  min-width: 200px;
  height: 1px;
  margin-left: 19px;
  margin-bottom: 7px; 
  display: inline-block;
  background-color: #e5e3e3;
}   

.page-header {
  background-color: #ffffff;
}

.page-content {
  width: 1100px;
  margin: 0 auto;	
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-logo { 
  position: relative;
  font-family: "WCManoNegraBta", cursive;
  font-size: 40px; 
  line-height: 60px;
}   

.page-logo span {
  letter-spacing: -0.09em;  
  color: #3a3a3a;  
}

.page-logo:hover span:first-child {
  text-shadow: 0 1px 1px #3a3a3a;    
}

.page-logo span:first-child {
  padding-right: 20px;  
}

.page-logo span:last-child {
  position: absolute;
  left: 70px;
  color: #f34949;
}

.page-logo:hover span:last-child {
  text-shadow: 0 1px 1px #f34949;
}

.site-navigation {    
  margin: 0;
  padding: 47px 0; 
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-item { 
  padding-left: 47px; 
}  

.site-link {
  display: block;
  font-size: 14px;    
  letter-spacing: 0.07em;
  color: #3b3b3b; 
}   

.site-link:hover { 
  text-shadow: 0 0 1px #3b3b3b;
}

.container {   
  position: relative;
}

.billboard {
  padding: 225px 0 181px 0;
  background-color: #3f3f3f;
  background-image: url(../img/bg_logo_black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #f34949;
  text-align: center;    
  color: #ffffff; 
}

.billboard-title {
  margin: 0;
  font-family: "WCManoNegraBta", cursive;
  font-size: 100px;
  font-weight: normal;
  letter-spacing: -0.09em;
  line-height: 100px;
}

.billboard-text {
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 60px;
}

.billboard-text::after,
.billboard-text::before {
  content: "";
  width: 40px;
  height: 1px;
  margin: 0 28px; 
  display: inline-block;
  vertical-align: middle;  
  background-color: #ffffff;
}

.menu {
  margin-bottom: 194px;
}

.menu-title {
  width: 155px;
  height: 75px; 
  margin: auto;
  margin-bottom: 57px; 
  padding-top: 22px;
  font-size: 20px;
  letter-spacing: 0.05em;  
  text-align: center;
  color: #ffffff;
  background-image: url(../img/menu.jpg);
  background-repeat: no-repeat;
}

.menu-list {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 493px);
  column-gap: 114px;
  list-style: none;
}

.no-js .menu-list {
  margin-bottom: 0;
}

.menu-item {
  display: grid;
  grid-template-areas: "title price"
  "ingredients price";
  letter-spacing: 0.05em;
  transition: 0.4s ease-out;
}

.menu-subtitle {
  width: 423px;
  margin: 0;
  margin-right: 40px;
  margin-bottom: 6px; 
  grid-area: title;
  font-size: 16px;  
  font-weight: normal;
  color: #555555;
  overflow: hidden;
}

.menu-subtitle::after {
  content: "";
  width: 100%;
  height: 1px;
  margin-right: -100%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #e3e1e1;
  border: solid #ffffff;
  border-width: 0 40px;
}

.menu-description {
  margin: 0;
  margin-bottom: 57px;
  grid-area: ingredients;
  font-size: 12px;
  font-style: italic; 
  font-weight: 300;
  color: #b7b7b7;  
}

.menu-price {
  width: 30px; 
  grid-area: price;
  justify-self: end;
  color: #555555; 
}

.menu-button {
  width: 135px;
  margin: 0 auto;
  padding: 10px 16px;
  display: block;
  position: relative;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #ffffff; 
  cursor: pointer;
}

.no-js .menu-button {
  display: none;
}

.menu-button:hover,
.menu-button:focus {
  border: 1px solid #d7d5d5;
  transition: 0.3s ease;
}

.menu-button-text {
  font-size: 14px;
  letter-spacing: 0.07em;
  line-height: 0.7em; 
  color: #b7b7b7;
}

.menu-button-text::before {
  content: "";
  width: 1px;
  height: 12px;
  position: absolute;
  top: 15px;
  right: 34px;
  background-color: #b7b7b7;
}

.menu-button-text::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 15px;
  right: 13px;
  border: 2px solid #b7b7b7;
  border-width: 2px 0 0 2px;
  transform: rotate(-135deg);
  transition: 0.4s ease-in;
}

.arrow-up::after {
  top: 18px;
  transform: rotate(46deg);
  transition: 0.4s ease-in;
}

.dishes {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 195px;
  overflow: hidden;
}

.no-js .dishes {
  margin-bottom: 134px;
  overflow: visible;
}

.dishes-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.dishes-controls {
  position: relative;
  padding: 0;
  border: none;
}

.no-js .dishes-controls {
  display: none;
}

.dishes-controls-btn {
  width: 9px;
  height: 9px;
  margin-left: 7.5px;
  display: inline-block;
  background-color: #dedede;
  border-radius: 50%;
}

.dishes-controls-input {
  width: 9px;
  height: 9px;
  margin-top: 6px;
  margin-left: 7.5px;
  position: absolute;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.dishes-controls-input:checked + .dishes-controls-btn,
.dishes-controls-input:hover + .dishes-controls-btn  {
  background-color: #9b9b9b;
  transition: background-color 0.3s;
}

.dishes-controls-input:focus + .dishes-controls-btn {
  outline: 0.2px solid #555555;
}

.dishes-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  transition: transform 0.6s ease-out;
} 

.no-js .dishes-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.dishes-item {
  margin-right: 60px;
  display: grid;
  grid-template-areas: "image image"
  "title price"
  "rating rating";
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 0.05em;
  line-height: 0.6em; 
  color: #555555;
}

.dishes-item:last-child {
  margin-right: 0;
}

.no-js .dishes-item {
  margin-right: 0;
  margin-bottom: 60px;
}

.dishes-link {
  width: 230px;
  height: 200px;
  margin-bottom: 31px;
  grid-area: image;
  background-color: #f0f0f0;
}

.dishes-link:hover, 
.dishes-link:focus {
  outline: none;
  opacity: 0.8;
  transition: 0.3s ease;
}

.dishes-subtitle {
  margin: 0;
  grid-area: title;
  font-size: 16px;
  font-weight: lighter;
}

.dishes-price {
  grid-area: price;
  justify-self: end;
}

.dishes-rating {
  width: 80px;
  margin: 0;
  margin-top: 14px;
  margin-left: -1px;
  padding: 0;
  grid-area: rating;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: relative;
  border: none;
}

.dishes-star-input {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.dishes-star-input:nth-of-type(1) {
  left: 64px;
}

.dishes-star-input:nth-of-type(2) {
  left: 48px;
}

.dishes-star-input:nth-of-type(3) {
  left: 32px;
}

.dishes-star-input:nth-of-type(4) {
  left: 16px;
}

.dishes-star-input:nth-of-type(5) {
  left: 1px;
}

.dishes-star-input:focus ~ .dishes-star svg {
  stroke: #555555;
  stroke-width: 2px;
}

.dishes-star-input:checked ~ .dishes-star svg,
.dishes-star-input:hover ~ .dishes-star svg {
  fill: #f1df1a;
  transition: 0.3s ease-in;
  transform: scale(-1, 1);
}

.gallery {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: 366px 367px 367px;
  grid-template-rows: repeat(2, 216px);
}

.gallery-link {
  width: 367px;
  display: block;
}

.gallery-link:first-child {
  width: 366px;
  grid-row: span 2;
}

.gallery-link:hover, .gallery-link:focus {
  outline: none;
  opacity: 0.8;
  transition: 0.3s ease;
}

.page-footer {
  padding: 90px 0;
  line-height: 30px;
  background-color: #3b3b3b;
}

.footer-content {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content p {
  width: 230px;
}

.footer-address {
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer-street {
  font-weight: 300;
  color: #ececec;
}

.footer-number {
  font-weight: bold;
  color: #ececec;
}

.footer-list {
  width: 230px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-item {
  margin-bottom: 5px;
}

.footer-link {
  font-size: 16px;
  letter-spacing: 0.05em;  
  color: #ffffff;
}

.footer-link:hover {
  text-shadow: 0 0 1px #ececec;
}

.footer-wrapper {
  padding-top: 10px;
}

.footer-logo {
  position: relative;
  font-family: "WCManoNegraBta", cursive;
  font-size: 40px; 
  line-height: 30px;
}

.footer-logo span {
  letter-spacing: -0.09em;  
  color: #ffffff;  
}

.footer-logo:hover span:first-child {
  text-shadow: 0 1px 1px #ffffff;    
}

.footer-logo span:first-child {
  padding-right: 20px;  
}

.footer-logo span:last-child {
  position: absolute;
  left: 70px;
  color: #f34949;
}

.footer-logo:hover span:last-child {
  text-shadow: 0 1px 1px #f34949;
}

.footer-copyright {
  margin: 0;
  padding-top: 19px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #ececec;
}

.footer-copylink {
  font-weight: bold;
  color: #ececec;
}

.footer-copylink:hover {
  text-shadow: 0 0 1px #ffffff;
}